<div id="alert-3" class="flex justify-center items-center p-4 mb-4 text-green-800 rounded-lg w-6/12 max-w-6 bg-green-100" role="alert">
  <div class="ml-3 text-md text-center font-medium">
    <%= notice %>
  </div>
</div>